<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Example</title>
    <script src="../components/angular/angular.js"></script>
    <script src="../js/example/controller.js"></script>
    <script src="../js/example/directive.js"></script> 
    <link href="../components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="../components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet"/>
</head>
<body ng-app="example" ng-controller="ExampleController">
    <button ng-click="clickUnfocused()">포커스가 없습니다.</button>
    <button ng-init-focus ng-click="clickFocused()">포커스가 있습니다.</button>
    <div>
        {{message.text}}
    </div>

    <hello-world></hello-world>
    <movie username="Avengers" img="https://attachment.namu.wiki/movie_image_4.jpg" reputation="8012"></movie>
    <br>
    <ul>
        <li>Home</li>
        <li>새로운 소식</li>
        <li restricted>profile</li>
        <li restricted>팀활동</li>
    </ul>

    <products></products>
</body>
</html>